<ul class={{this.styleNamespace}}>
  {{#each @movies as |movie|}}
    <MovieList::MovieListItem @movie={{movie}} />

    <div class="movie-list-button">
      <button type="button" {{on "click" (fn @onEdit movie)}}>
        Edit
      </button>

      <button type="button" {{on "click" (fn @onDelete movie)}}>
        Delete
      </button>
    </div>
    <hr />
  {{/each}}
</ul>
