<ul class={{this.styleNamespace}}>
  {{#each @movies as |movie|}}
    <MovieList::MovieListItem @movie={{movie}} />
    <LinkTo @route="movies.movie" @model={{movie.id}}>
    <button type="button">
      View Movie
    </button>
      </LinkTo>
    <hr />
  {{/each}}
</ul>